body {
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: #E55050; 
    font-family: "La Belle Aurore", cursive;
    color: #444;
    line-height: 1.5;
     border-radius: 8px;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    object-fit: cover;  
    border-radius: 8px;
}

header {
    height: 200px;
    padding: 20px;
    background-color: lightgray;
}

main {
    padding: 10px;
    background-color: white;
     border-radius: 8px; 
     
}

section {
    margin-top: 0px;
    padding-bottom: 5px; 
    border-top: solid 1px gray;	 
}

p, li, ol, ul, table,th,td{
    color: #444;
    font-weight: 200;
    font-style: normal;
}

h1, h2 {
    color: rgb(140, 76, 8); 
    font-size: 30px;
    font-family: "Marck Script", cursive;
    font-weight: 900;
    font-style: normal;
}

/*tabela experiencia*/
  table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
        color: #444;
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #FAE3C6;
    }
    .desempenho {
      font-weight: bold;
      background-color: #FAE3C6;
    }

    figcaption{
        margin-left: 50px;
    }
    

    .escritorio{
      margin-top: -256px;         
  margin-left: 358px;   
            
  padding: 0; 

    }
    abbr {
        
  cursor: default; /* mostra o cursor de ajuda */
}

.voltar{
    color: black;
     text-decoration: none;
      font-family: "La Belle Aurore", cursive;
}

    .voltar:hover{
  text-decoration: underline;
        color: blue;
         font-family: "La Belle Aurore", cursive;
        
    
   
     }
  


       
    

