
header{
    height: 200px;
    
    padding: 20px;
}


main{
  background-color: white;
}

section{
    margin-top: 0px;
padding-bottom: 5px;
border-top: solid 1px gray;

}

body{
    width: 60%;
margin: 0 auto;
padding: 2% 0;
background-color:red ;

}
p{
 font-family:"DancingScript",cursve;
font-optical-sizing: auto;
font-weight:400;
font-style: normal;   
}
p,h1,h2{
    fonte-size: 16px;
line-height:1.5;
}
