body {
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: #E55050; 
    font-family: "La Belle Aurore", cursive;
    color: #444;
    line-height: 1.5;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    object-fit: cover;  
    border-radius: 8px;
}

header {
    height: 200px;
    padding: 20px;
    background-color: lightgray;
}

main {
    padding: 10px;
    background-color: white;
     border-radius: 8px; 
}

section {
    margin-top: 0px;
    padding-bottom: 5px; 
    border-top: solid 1px gray;	 
}

p, li, ol, ul, table {
    color: #444;
    font-weight: 200;
    font-style: normal;
}

h1, h2 {
    color: rgb(140, 76, 8); 
    font-size: 30px;
    font-family: "Marck Script", cursive;
    font-weight: 900;
    font-style: normal;
}
